body {
    background-color: lightslategray !important;
    /*
    background-image: url("../images/stPaulsLogo.png");
    */
}
/*

.containter {
    background-color: lightslategray !important;
}
*/

img {
    max-width: 90%;
}


h1 {
    text-align: center !important;
}


h2 {
    text-align: center !important;
}


h3 {
    text-align: center !important;
}


.nav {
    background-color: darkred !important;
    color: white !important;
    padding: 2em .5em .5em .5em !important;
    font-weight: bold !important;
    text-align: center !important;
   /* border-bottom: none;
    display: inline-block;*/
}

/*.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    !*border-top: none;
    border-left: none;
    border-right: none;*!
    !*border-bottom: 3px solid #e9a39c;*!
    font-weight: bold;
    background-color: darkred !important;
    color: white;
    text-shadow: 3px 2px black;
}*/

/*.nav-tabs>li>a:hover{
    border: 1px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #d4d4d4;
}*/



