h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    background-color: lightslategray;
    margin:0;
    padding:0;
    height:100%;
}

.navbar {
    background-color: firebrick;
    color: black !important;
}

form {
    background-color: transparent !important;
}

.btn {
    text-align: center;
}

#footer {
    background-color: firebrick;
    color: gray !important;
    text-align: center;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}


.container {
    background-color: black;
    min-height:100%;
    /*position:relative;*/
}
